<div>
<ul>
  <li>
    <%= link_to "Download Book info as CSV", admins_download_book_info_path %>
    
  </li>
  <li>
    <%= link_to "Download Book info as CSV", admins_download_categories_path %>
  </li>
</ul>
</div>
