 <div class="intoduction-text">
   <%= render 'homes/about_samooha' %>
   <div class="about-dli">
     
     <p>
       'ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ' ಮತ್ತು 'ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಆಫ್ ಇಂಡಿಯಾ' <a href="http://dli.gov.in">(http://dli.gov.in)</a>ದಲ್ಲಿ ಲಭ್ಯವಿರುವ ಕನ್ನಡ ಪುಸ್ತಕಗಳು, ಅವುಗಳ ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರ ಹೆಸರುಗಳನ್ನು ಕನ್ನಡೀಕರಿಸುವ ಕೆಲಸಕ್ಕೆ 'ಸಮೂಹ ಸಂಚಯ'ದೊಂದಿಗೆ ಕೈ ಜೋಡಿಸಿದ್ದಕ್ಕೆ ಧನ್ಯವಾದಗಳು.
     </p>
     <p>
       ಕನ್ನಡೀಕರಣದ ಕೆಲಸ ಮುಗಿದಿದ್ದು, ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಆಫ್ ಇಂಡಿಯಾದ ಮಾಹಿತಿಯನ್ನು ಒಮ್ಮೆ ಪರಿಶೀಲನೆಗೆ ಒಳಪಡಿಸಬೇಕಿದೆ. ಈ ಕೆಲಸದಲ್ಲಿ ನಮ್ಮೊಡನೆ ಮತ್ತೆ ಒಂದಾಗಲು, 'ಪರಿಶೀಲನೆ' ಕೊಂಡಿ ಕ್ಲಿಕ್ಕಿಸಿ. ಪುಸ್ತಕದ ಕೊಂಡಿಯನ್ನು ತೆರೆದು, ಅದರಲ್ಲಿರುವ ಸರಿಯಾದ ಮಾಹಿತಿ ಸಮೂಹ ಸಂಚಯದಲ್ಲಿದೆಯೇ ನೋಡಿ, ತಪ್ಪಿದ್ದಲ್ಲಿ ತಿದ್ದಿ - 'ಪರಿಶೀಲಿಸಲಾಗಿದೆ' ಗುಂಡಿಯನ್ನು ಕ್ಲಿಕ್ಕಿಸಿ.
     </p>
     <p>
       ಈ ಎಲ್ಲ ಪುಸ್ತಕಗಳನ್ನು ಸುಲಭವಾಗಿ ಹುಡುಕಲು ಸಾಧ್ಯವಾಗುವಂತೆ <a href="http://pustaka.sanchaya.net" target="_blank"> 'ಪುಸ್ತಕ ಸಂಚಯ' </a> ಅಭಿವೃದ್ಧಿ ಪಡಿಸಲಾಗಿದೆ.
     </p>
     <hr />
   </div>
 </div>

 <div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4" id='book-form'> 
      <%#= render 'homes/books_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'homes/publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'homes/authors_form' %>
    </div>
  </div>
</div>
<%#= render 'homes/circles' %>
<div class="intoduction-text">
  <%#= render 'homes/info_about_translated' %>
</div> 

<%= render 'homes/review_progress' %>
