 <div class="about-samooha"> 
    <p>
      <h5> <b> ಸಮುದಾಯದ ಒಗ್ಗಟ್ಟಿನ ಮೂಲಕ ಕನ್ನಡದ ತಾಂತ್ರಿಕ ಬೆಳವಣಿಗೆಗೆ ಆಗಬೇಕಿರುವ ಅನೇಕ ಕೆಲಸಗಳನ್ನು 'ಕ್ರೌಡ್ ಸೋರ್ಸಿಂಗ್' ಮೂಲಕ ಸಾಧ್ಯವಾಗಿಸುವ ವೇದಿಕೆ ಸಮೂಹ ಸಂಚಯ</b> </h5>
    </p>
    <hr />
  </div>