 <div class="intoduction-text">
   <%= render 'homes/about_samooha' %>
   <div class="about-dli">

     <p>
       '<a href="http://oudl.osmania.ac.in" target="_blank">ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ</a>' ಮತ್ತು '<a href="http://dli.gov.in" target="_blank">ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಆಫ್ ಇಂಡಿಯಾದಲ್ಲಿ</a>' ಕನ್ನಡ ಪುಸ್ತಕಗಳು, ಅವುಗಳ ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರ ಹೆಸರುಗಳನ್ನು ಕನ್ನಡೀಕರಿಸುವ ಕೆಲಸಕ್ಕೆ 'ಸಮೂಹ ಸಂಚಯ'ದೊಂದಿಗೆ ಕೈ ಜೋಡಿಸಿದ್ದಕ್ಕೆ ಧನ್ಯವಾದಗಳು.
     </p>
     <p>
       ಕನ್ನಡೀಕರಣದ ಕೆಲಸ ಮುಗಿದಿದ್ದು, ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಆಫ್ ಇಂಡಿಯಾದ ಮಾಹಿತಿಯನ್ನು ಒಮ್ಮೆ ಪರಿಶೀಲನೆಗೆ ಒಳಪಡಿಸಬೇಕಿದೆ. ಈ ಕೆಲಸದಲ್ಲಿ ನಮ್ಮೊಡನೆ ಮತ್ತೆ ಒಂದಾಗಲು, 'ಪರಿಶೀಲಿಸಿ' ಕೊಂಡಿ ಕ್ಲಿಕ್ಕಿಸಿ. ಪುಸ್ತಕದ ಕೊಂಡಿಯನ್ನು ತೆರೆದು, ಅದರಲ್ಲಿರುವ ಸರಿಯಾಪ್ಪಿದ್ದಲ್ಲಿ ತಿದ್ದಿ - 'ಪರಿಶೀಲಿಸಲಾಗಿದೆ' ಗುಂಡಿಯನ್ನು ಕ್ಲಿಕ್ಕಿಸಿ.
     </p>
     <p>
       ಈ ಎಲ್ಲ ಪುಸ್ತಕಗಳನ್ನು ಸುಲಭವಾಗಿ ಹುಡುಕಲು ಸಾಧ್ಯವಾಗುವಂತೆ <a href="http://pustaka.sanchaya.net" target="_blank"> 'ಪುಸ್ತಕ ಸಂಚಯ' </a> ಅಭಿವೃದ್ಧಿ ಪಡಿಸಲಾಗಿದೆ.
     </p>
     <hr />
   </div>
 </div>