<div class="about-us-text"> 
  <p> <span class='into-header'> ಸಮೂಹ ಸಂಚಯದ ಬಗ್ಗೆ : </span> <p>

    <p> ಸಮುದಾಯದ ಒಗ್ಗಟ್ಟಿನ ಮೂಲಕ ಕನ್ನಡದ ತಾಂತ್ರಿಕ ಬೆಳವಣಿಗೆಗೆ ಆಗಬೇಕಿರುವ ಅನೇಕ ಕೆಲಸಗಳನ್ನು 'ಕ್ರೌಡ್ ಸೋರ್ಸಿಂಗ್' ಮೂಲಕ ಸಾಧ್ಯವಾಗಿಸುವ ಒಂದು ವೇದಿಕೆ ಇದಾಗಿದೆ.<p>

      <p> <span class='into-header'> ಕನ್ನಡ ಸಂಚಯ :  </span>ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆಯ ಬಗ್ಗೆ<p>

        <p>ಕನ್ನಡ ಭಾಷೆ ಮತ್ತು ತಂತ್ರಜ್ಞಾನ ಕ್ಷೇತ್ರದಲ್ಲಿ ಕೆಲಸ ಮಾಡುವುದು ನಮ್ಮ ತಂಡದ ಉದ್ದೇಶವಾಗಿದೆ. ಭಾಷಾ ಸಂಶೋಧಕರಿಗೆ ಸಂಶೋಧನಾ ವೇದಿಕೆಯೊಂದನ್ನು ನಿರ್ಮಿಸುವುದು ನಮ್ಮ ಗುರಿ. ಅಂತರ್ಜಾಲದ ಮೂಲಕ ವೆಬ್ ಹಾಗೂ ಮೊಬೈಲ್ ತಂತ್ರಾಂಶಗಳ ಸಹಾಯದಿಂದ ಮುಕ್ತವಾಗಿ ಸಂಶೋಧಕರಿಗೆ, ಸಂಶೋಧನಾ ಸಲಕರಣೆಗಳನ್ನು ಅಭಿವೃದ್ದಿಪಡಿಸುವಲ್ಲಿ ನಮ್ಮ ತಂಡ ತೊಡಗಿಕೊಂಡಿದೆ. ನಮ್ಮ ಆಸಕ್ತಿ ವಾಣಿಜ್ಯ ಅಥವಾ ಲಾಭದ ಉದ್ದೇಶವನ್ನು ಹೊಂದಿರದೆ ಶಾಸ್ತ್ರೀಯ ಕನ್ನಡ ಸಾಹಿತ್ಯದ ಸಂಶೋಧನೆಯ ತಾಂತ್ರಿಕ ಸಾಮರ್ಥ್ಯವನ್ನು ಬೆಳೆಸುವುದೇ ಆಗಿದೆ. ನಮ್ಮ ಬಗ್ಗೆ ಹೆಚ್ಚು ತಿಳಿಯಲು - http://kannada.sanchaya.net ಸಂಪರ್ಕಿಸಿ<p>

          <p><span class='into-header'> ಸಮೂಹ ಸಂಚಯದ ಮೊದಲ ಯೋಜನೆ:  </span> ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ (http://oudl.osmania.ac.in) ೨೦೦೦ಕ್ಕೂ ಹೆಚ್ಚು ಪುಸ್ತಕಗಳ ಹೆಸರು ಇಂಗ್ಲೀಷ್ ನಲ್ಲಿದ್ದು, ಇವುಗಳನ್ನು ಕನ್ನಡೀಕರಿಸುವುದರ ಜೊತೆಗೆ  ಯುನಿಕೋಡ್ ಸರ್ಚ್ ಸೌಲಭ್ಯದ ಮೂಲಕ ಈ ಪುಸ್ತಕಗಳನ್ನು ಕನ್ನಡಿಗರಿಗೆ ಸುಲಭವಾಗಿ ಸಿಗುವಂತೆ ಮಾಡುವ ಯೋಜನೆ ಇದಾಗಿದೆ. ಕೇವಲ ಸರ್ಚ್ ಸೌಲಭ್ಯ ಕೊಡುವುದಷ್ಟೇ ಅಲ್ಲದೇ ಈ ಎಲ್ಲ ಪುಸ್ತಕಗಳಿಗೆ ಅವುಗಳದ್ದೇ ಆದ ವಿಕಿ ಪುಟಗಳನ್ನು ಕೂಡ ಕನ್ನಡ ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಎಣೆಯುವಂತೆ ಮಾಡುವುದು, ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಈಗಾಗಲೇ ಲಭ್ಯವಿಲ್ಲದ ಲೇಖಕ/ಲೇಖಕಿಯರ ಪುಟಗಳು, ಕನ್ನಡ ಪುಸ್ತಕ ಪ್ರಕಾಶಕರ ಪುಟಗಳನ್ನೂ ಸೃಷ್ಟಿ ಮಾಡುವುದು ಇದರಿಂದ ಸಾಧ್ಯವಾಗಲಿದೆ.<p>

            <p><span class='into-header'> ಕನ್ನಡ ಸಂಚಯದ ಇತರೆ ಯೋಜನೆಗಳು:  </span>  <p>
              ೧. ವಚನ ಸಂಚಯ : <a href="http://vachana.sanchaya.net"> http://vachana.sanchaya.net </a> <br />
              ೨. ದಾಸ ಸಂಚಯ : <a href="http://daasa.sanchaya.net"> http://daasa.sanchaya.net </a>   <br />
              ೩. ಪುಸ್ತಕ ಸಂಚಯ : <a href=" http://pustaka.sanchaya.net">  http://pustaka.sanchaya.net </a> <br />
              ೪. ಅರಿವಿನ ಅಲೆಗಳು: <a href="http://arivu.sanchaya.net"> http://arivu.sanchaya.net</a>  <br />
              ೫. ಹೆಜ್ಜೆ : <a href="http://hejje.sanchaya.net">http://hejje.sanchaya.net</a>  <br />
              <p><span class='into-header'> ಸಂಚಯ ಸಮುದಾಯ :</span> <a href="http://sanchaya.net ">http://sanchaya.net </a>   <p>
              </div>