<div class="about-project">
  <p>  ಈಗ್ಗೆ ಸುಮಾರು ೮-೧೦ ವರ್ಷಗಳ ಹಿಂದೆ ಆರಂಭಗೊಂಡ ಉಚಿತ ಹಾಗು ಮುಕ್ತ ತಂತ್ರಾಂಶಗಳ ಕನ್ನಡ ಅನುವಾದವು ಈಗ ಒಂದು ಗಮನಾರ್ಹ ಹಂತಕ್ಕೆ ತಲುಪಿದೆ ಎಂದೇ ಹೇಳಬಹುದು. ಇದರಲ್ಲಿ ತೊಡಗಿಕೊಂಡಿರುವ ಕನ್ನಡ ಸಮುದಾಯದ ಗಾತ್ರ ಬಹಳ ದೊಡ್ಡದಾಗಿರದಿದ್ದರೂ ಸಹ, ತಂತ್ರಾಂಶಗಳ ನಿರ್ದಿಷ್ಟ ಆವೃತ್ತಿಯ ಬಿಡುಗಡೆಯ ಪೂರ್ವದಲ್ಲಿ ಈ ಸಮುದಾಯದಲ್ಲಿ ಕೊಂಚ ಮಟ್ಟಿನ ಚಟುವಟಿಕೆಯನ್ನು ಕಾಣಬಹುದಾಗಿರುತ್ತದೆ. ಹೀಗೆ ಉತ್ಸುಕರಾಗಿರುವವರಲ್ಲಿ ಹೆಚ್ಚಿನವರು ಮೊದಲ ಬಾರಿಗೆ ತಂತ್ರಾಂಶ ಸಂಬಂಧಿ ಅನುವಾದ ಕೆಲಸದಲ್ಲಿ ತೊಡಗಿಕೊಂಡಿರುತ್ತಾರೆ. ಇವರಿಗೆ ಎದುರಾಗುವ ಪ್ರಮುಖ ಸಮಸ್ಯೆಯೆಂದರೆ ಕೆಲವು ಇಂಗ್ಲೀಷ್ ಪದ ಅಥವ ಪದಗುಚ್ಛಗಳಿಗೆ ಸನ್ನಿವೇಶಕ್ಕೆ ಅನುಗುಣವಾದ ಸೂಕ್ತವಾದ ಪರ್ಯಾಯ ಕನ್ನಡ ಪದ ದೊರೆಯದೆ ಇರುವುದು. ಇಂತಹ ಸಂದರ್ಭಗಳಲ್ಲಿ ಇವರು ತಮಗೆ ತೋಚಿದ ಯಾವುದೊ ಒಂದು ಪದವನ್ನು ಬಳಸಿದಾಗ ಆ ತಂತ್ರಾಂಶವನ್ನು ಬಳಸುವ ಬಳಕೆದಾರರಿಗೆ ಸಹ ಗೊಂದಲ ಉಂಟಾಗಿ, ಅದರ ಇಂಗ್ಲೀಷ್‌ನ ಆವೃತ್ತಿಗೆ ಮರಳುವ ಸಾಧ್ಯತೆ ಇರುತ್ತದೆ.</p>


  <p> ಇದನ್ನು ಪರಿಹರಿಸಲು, ಇಂತಹ ಅನುವಾದ ಕಾರ್ಯಗಳಲ್ಲಿ ಬಳಸಬಹುದಾದ ಒಂದು ಶಿಷ್ಟ ಪದಕೋಶವು ಲಭ್ಯವಿರಬೇಕಾಗುತ್ತದೆ. ಎಲ್ಲಾ ಅನ್ವಯಿಕಗಳಲ್ಲಿ ಏಕಪ್ರಕಾರದ ಪರ್ಯಾಯ ಕನ್ನಡ ಪದ/ಪದಗುಚ್ಛವನ್ನು ಬಳಸುವುದಲ್ಲಿ, ಸಾಮಾನ್ಯ ಜನರಿಗೆ ಅಂತಹ ಅನ್ವಯಿಕ ತಂತ್ರಾಂಶವು ಬಳಕೆಗೆ ಸುಲಭವಾಗುತ್ತದೆ. ಇದರಿಂದಾಗ ಅನುವಾದದ ಉದ್ಧೇಶವು ನೆರವೇರುವುದರ ಜೊತೆಗೆ ಉಚಿತ ಹಾಗು ಮುಕ್ತ ತಂತ್ರಾಂಶಗಳ ಜನಪ್ರಿಯತೆಯೂ ಸಹ ಹೆಚ್ಚುವ ಸಾಧ್ಯತೆ ಇರುತ್ತದೆ. ಈ ಕೆಲಸಕ್ಕಾಗಿ, ತಂತ್ರಾಂಶಗಳ ಅನುವಾದದಲ್ಲಿ ಪದೇ ಪದೆ ಬಳಸಲಾಗುವ ಪದಗಳ (FUEL-Frequently Used Entries in Localization) ಒಂದು ಶಿಷ್ಟ ಕೋಶವನ್ನು ಮಾಡಬೇಕಿದೆ. ಈಗಾಗಲೆ ಸುಮಾರು ೫೦೦ ಕ್ಕೂ ಮಿಕ್ಕ ಇಂತಹ ಪದ/ಪದಗುಚ್ಛಗಳನ್ನು ಗುರುತಿಸಲಾಗಿದ್ದು , ಮುಂದಿನ ಹಂತದದಲ್ಲಿ ಇವುಗಳ ಪರಿಶೀಲನೆಯ ಕಾರ್ಯ ಆಗಬೇಕಿದೆ. ಇದಕ್ಕಾಗಿ ಕೆಲವು ಭಾಷಾಶಾಸ್ತ್ರಜ್ಞರು, ಅನುವಾದಕರು, ಪತ್ರಕರ್ತರು, ಗಣಕತಂತ್ರಜ್ಞರು ಒಂದೆಡೆ ಕಲೆತು ಈ ಪದಗಳನ್ನು ಅವಲೋಕಿಸಬೇಕಿದೆ. ಒಟ್ಟಿನಲ್ಲಿ ಒಮ್ಮತದಿಂದ ಒಂದು ಶಿಷ್ಟತೆಯನ್ನು ರೂಪಸುವ ಅಗತ್ಯವಿದೆ </p>

  <p> FUEL ಕುರಿತು ಹೆಚ್ಚಿನ ಮಾಹಿತಿಯನ್ನು www.fuelproject.org ಹಾಗು https://fedorahosted.org/fuel/ ಇಲ್ಲಿ ಕಾಣಬಹುದು. </p>

  <p>
    ಸಮೂಹ ಸಂಚಯದ ಮೂಲಕ FUEL ಯೋಜನೆಗೆ ಬೇಕಿರುವ ಪದಗಳ ಅನುವಾದ, ಪರಿಶೀಲನೆ ಇತ್ಯಾದಿ ಕೆಲಸಗಳನ್ನು ಕ್ರೌಡ್ ಸೋರ್ಸಿಂಗ್ - ಸಮೂಹ ಸಹಭಾಗಿತ್ವದ ಮೂಲಕ ನೆಡೆಸಲು ತೀರ್ಮಾನಿಸಿದ್ದು, ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ಎಲ್ಲರೂ ಭಾಗವಹಿಸುವ ಅವಕಾಶ ಏರ್ಪಡಿಸಲಿದ್ದೇವೆ.
  </p>

</div>