  <div class="help-content"> 
    <div>
      <p> <b> ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ ಪುಸ್ತಕಗಳ ಹೆಸರು, ಲೇಖಕ/ಕಿ ಅಥವಾ ಪ್ರಕಾಶಕರ ಹೆಸರನ್ನು ಕನ್ನಡೀಕರಿಸಲು ಈ ಕೆಳಗಿನ ಸೂಚನೆಗಳನ್ನು ಪಾಲಿಸಿ:</b> </p>
      <p> * ಇಂಗ್ಲೀಷ್‌ನಲ್ಲಿ ಲಭ್ಯವಿರುವ ಹೆಸರು ಓದಲು ಸಾಧ್ಯವಾಗದ ಪಕ್ಷದಲ್ಲಿ (ಪುಸ್ತಕದ ಐಕನ್) ಮೇಲೆ ಕ್ಲಿಕ್ ಮಾಡಿ </p>
      <p>  * ಮತ್ತೊಂದು ಟ್ಯಾಬ್‌ನಲ್ಲಿ ತೆರೆಯುವ ಓಸ್ಮಾನಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯ ಪುಟದಲ್ಲಿರುವ ಪುಸ್ತಕದ ಪಿ.ಡಿ.ಎಫ್ ಮೇಲೆ ಕ್ಲಿಕ್ ಮಾಡಿ </p>
      <p> * ಪಿ.ಡಿ.ಎಫ್ ನಲ್ಲಿರುವಂತೆ ಸಮೂಹ ಸಂಚಯದ ಟೆಕ್ಸ್ಟ್ ಬಾಕ್ಸ್‌ನಲ್ಲಿ ಕನ್ನಡದಲ್ಲಿ ಹೆಸರನ್ನುಟೈಪಿಸಿ ಎಂಟರ್ ಪ್ರೆಸ್ ಮಾಡಿ ಅಥವಾ
        'ಲಿಪ್ಯಂತರಿಸಿ' ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಿ </p>
      </div>
      <div class="video-box" style="margin-bottom: 1%">
        <iframe width="50%" height="345"
        src="http://www.youtube.com/embed/3FLEr8S1Cgg">
      </iframe>

    </div>

    <div> 
      <p> <b> ಕನ್ನಡೀಕರಿಸಿದ ಪದಗಳ ಪರಿಶೀಲನೆ ಮಾಡುವುದು ಹೇಗೆ? </b> </p>

      ಸಮೂಹ ಸಂಚಯದಲ್ಲಿ ನೊಂದಾಯಿಸಿಕೊಂಡು, ಪರಿಶೀಲಿಸಿ ಕೊಂಡಿಗೆ ಬಂದಲ್ಲಿ, ನಿಮಗೆ ಈಗಾಗಲೇ ಕನ್ನಡೀಕರಿಸಿರುವ ಪುಸ್ತಕದ ಮಾಹಿತಿ (ಪುಸ್ತಕ, ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರ ಹೆಸರುಗಳು) ನಿಮಗೆ ಸಿಗುತ್ತವೆ. ಅವುಗಳ ಕೆಳಗೆ ಆ ಪುಸ್ತಕದ ಕೊಂಡಿಯೂ ದೊರೆಯುತ್ತದೆ. ಕೊಂಡಿಯನ್ನು ಕ್ಲಿಕ್ಕಿಸಿ, ಪುಸ್ತಕದ PDF ಪ್ರತಿ ತೆರೆದು, ಅದರಲ್ಲಿರುವ ಹೆಸರುಗಳು ನಮ್ಮ ಸಮೂಹ ಸಂಚಯದಲ್ಲಿರುವ ಹೆಸರಿಗೆ ಹೊಂದುತ್ತದೆಯೇ ಪರೀಕ್ಷಿಸಿ. ಇಲ್ಲವಾದಲ್ಲಿ ಅವುಗಳನ್ನು ತಿದ್ದಿ Enter ಪ್ರೆಸ್ ಮಾಡಿ ಅಥವಾ "ಪರಿಶೀಲಿಸಲಾಗಿದೆ" ಗುಂಡಿ ಕ್ಲಿಕ್ ಮಾಡಿ. ಯಾವುದೇ ಪುಸ್ತಕದ ಪರಿಶೀಲನೆ ಕೈ ಬಿಡಲು "ಮುಂದೆ" ಕ್ಲಿಕ್ ಮಾಡಿ.
    </div>

  </div>