<div class="help-content"> 
  <p> ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ ಪುಸ್ತಕಗಳ ಹೆಸರು, ಲೇಖಕ/ಕಿ ಅಥವಾ ಪ್ರಕಾಶಕರ ಹೆಸರನ್ನು ಕನ್ನಡೀಕರಿಸಲು ಈ ಕೆಳಗಿನ ಸೂಚನೆಗಳನ್ನು ಪಾಲಿಸಿ: </p>
  <p> * ಇಂಗ್ಲೀಷ್‌ನಲ್ಲಿ ಲಭ್ಯವಿರುವ ಹೆಸರು ಓದಲು ಸಾಧ್ಯವಾಗದ ಪಕ್ಷದಲ್ಲಿ (ಪುಸ್ತಕದ ಐಕನ್) ಮೇಲೆ ಕ್ಲಿಕ್ ಮಾಡಿ </p>
  <p>  * ಮತ್ತೊಂದು ಟ್ಯಾಬ್‌ನಲ್ಲಿ ತೆರೆಯುವ ಓಸ್ಮಾನಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯ ಪುಟದಲ್ಲಿರುವ ಪುಸ್ತಕದ ಪಿ.ಡಿ.ಎಫ್ ಮೇಲೆ ಕ್ಲಿಕ್ ಮಾಡಿ </p>
  <p> * ಪಿ.ಡಿ.ಎಫ್ ನಲ್ಲಿರುವಂತೆ ಸಮೂಹ ಸಂಚಯದ ಟೆಕ್ಸ್ಟ್ ಬಾಕ್ಸ್‌ನಲ್ಲಿ ಕನ್ನಡದಲ್ಲಿ ಹೆಸರನ್ನುಟೈಪಿಸಿ ಎಂಟರ್ ಪ್ರೆಸ್ ಮಾಡಿ ಅಥವಾ
    'ಲಿಪ್ಯಂತರಿಸಿ' ಬಟನ್ ಕ್ಲಿಕ್ ಮಾಡಿ </p>
  </div>
  <div class="video-box">
    <iframe width="50%" height="345"
    src="http://www.youtube.com/embed/3FLEr8S1Cgg">
  </iframe>

</div>

<iframe id="forum_embed"
src="javascript:void(0)"
scrolling="no"
frameborder="0"
width="900"
height="700">
</iframe>
<script type="text/javascript">
  document.getElementById('forum_embed').src =
  'https://groups.google.com/forum/embed/?place=forum/samooha-sanchaya'
  + '&showsearch=true&showpopout=true&showtabs=false'
  + '&parenturl=' + encodeURIComponent(window.location.href);
</script>