<div class="intoduction-text">
 <p>
  ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ ೨೦೦೦ಕ್ಕೂ ಹೆಚ್ಚು ಪುಸ್ತಕಗಳ ಹೆಸರು ಇಂಗ್ಲೀಷ್ ನಲ್ಲಿದ್ದು, ಇವುಗಳನ್ನು ಕನ್ನಡೀಕರಿಸುವುದರ ಜೊತೆಗೆ ಯುನಿಕೋಡ್ ಸರ್ಚ್ ಸೌಲಭ್ಯದ ಮೂಲಕ ಈ ಪುಸ್ತಕಗಳನ್ನು ಕನ್ನಡಿಗರಿಗೆ ಸುಲಭವಾಗಿ ಸಿಗುವಂತೆ ಮಾಡುವ ಯೋಅಲ್ಲದೇ ಈ ಎಲ್ಲ ಪುಸ್ತಕಗಳಿಗೆ ಅವುಗಳದ್ದೇ ಆದ ವಿಕಿ ಪುಟಗಳನ್ನು ಕೂಡ ಕನ್ನಡ ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಹೆಣೆಯುವಂತೆ ಮಾಡುವುದು, ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಈಗಾಗಲೇ ಲಭ್ಯವಿಲ್ಲದ ಲೇಖಕ/ಲೇಖಕಿಯರ ಪುಟಗಳು, ಕನ್ನಡ ಪುಸ್ತಕ ಪ್ರಕಾಶಕರ ಪುಟಗಳನ್ನೂ ಸೃಷ್ಟಿ ಮಾಡುವುದು ಇದರಿಂದ ಸಾಧ್ಯವಾಗಲಿದೆ.</p>
    <!-- <p> <span class='into-header'> ನಮ್ಮ ಯೋಜನೆಯೊಂದಿಗೆ ಕೈಜೋಡಿಸಲು ಈ ಕೆಳಗಿನ ಇಂಗ್ಲೀಷ್ ಪದಗಳನ್ನು ಕನ್ನಡೀಕರಿಸಿ </span>
  </p> -->


  <p>
    ನಮ್ಮೊಂದಿಗೆ ಕೈಜೋಡಿಸಿದ್ದಕ್ಕೆ ಧನ್ಯವಾದಗಳು! ನಮ್ಮ ಮೊದಲನೇ ಹಂತದ ಕಾರ್ಯ ಮುಗಿದಿದೆ! ಮುಂದಿನ ಹಂತದಲ್ಲಿ ಓಸ್ಮಾನಿಯ ವಿಶ್ವವಿದ್ಯಾಲಯದ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿ ಪುಸ್ತಕಗಳ ಕನ್ನಡೀಕರಣದ ಪರಿಶೀಲನೆ ನೆಡೆಯಲಿದೆ. ಈ ಕಾರ್ಯದ ಮಾಹಿತಿಯನ್ನು ಆದಷ್ಟೂ ಬೇಗ ಹಂಚಿಕೊಳ್ಳುತ್ತೇವೆ.ಅಲ್ಲಿಯವರೆಗೆ ಪುಸ್ತಕಗಳ ವಿಷಯಗಳನ್ನು ಕನ್ನಡೀಕರಿಸುವ ಕೆಲಸವನ್ನು ಇಲ್ಲಿ ಮಾಡಬಹುದಾಗಿದೆ.
  </p>


</div>
<hr />
<div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4"> 
      <%#= render 'books_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'authors_form' %>
    </div>
  </div>
</div>
<%#= render 'circles' %>
