<%= render 'circles' %>

<div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4"> 
      <%= render 'books_form' %>
    </div>
    <div class="col-md-4"> 
      <%= render 'publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%= render 'authors_form' %>
    </div>
  </div>
</div>
