<div class="intoduction-text">
  <p>
    <h5> <b> ಸಮುದಾಯದ ಒಗ್ಗಟ್ಟಿನ ಮೂಲಕ ಕನ್ನಡದ ತಾಂತ್ರಿಕ ಬೆಳವಣಿಗೆಗೆ ಆಗಬೇಕಿರುವ ಅನೇಕ ಕೆಲಸಗಳನ್ನು 'ಕ್ರೌಡ್ ಸೋರ್ಸಿಂಗ್' ಮೂಲಕ ಸಾಧ್ಯವಾಗಿಸುವ ವೇದಿಕೆ ಸಮೂಹ ಸಂಚಯ</b> </h5>
  </p>
  <hr />
  <p>
    ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ ಕನ್ನಡ ಪುಸ್ತಕಗಳು, ಅವುಗಳ ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರ ಹೆಸರುಗಳನ್ನು ಕನ್ನಡೀಕರಿಸುವ ನಮ್ಮ ಮೊದಲ ಯೋಜನೆಗೆ ಜೊತೆಗೆಯಾದ ಎಲ್ಲರಿಗೂ ಧನ್ಯವಾದಗಳು. ಈ ಪುಸ್ತಕಗಳನ್ನು ಈಗ <a href="http://pustaka.sanchaya.net" target="_blank">'ಪುಸ್ತಕ ಸಂಚಯ'</a>ದಲ್ಲಿ ಸುಲಭವಾಗಿ ಹುಡುಕಲು ಸಾಧ್ಯವಾಗಿಸಿದ್ದೇವೆ. 
  </p>
  <p>
    ಕನ್ನಡೀಕರಿಸಿದ ಹೆಸರುಗಳು ಸರಿ ಇವೆಯೇ ಎಂದು ಪರಿಶೀಲಿಸುವ ಕಾರ್ಯದಲ್ಲಿ ನಿಮ್ಮನ್ನು ನೀವು <%= link_to 'ಇಲ್ಲಿ', book_translations_path %>  ತೊಡಗಿಸಿಕೊಳ್ಳಬಹುದು. 
  </p>
  <hr />
  <p>
    ನಮ್ಮ ಮೊದಲ ಯೋಜನೆಯಲ್ಲಿ ಕನ್ನಡೀಕರಿಸಲಾದ ಪದಗಳ ಸಂಖ್ಯೆ ಇಂತಿದೆ.

  </p>
  <p>
    <%= @translated_books_count %> ಪುಸ್ತಕಗಳು | <%= @translated_authors_count %> ಲೇಖಕರು |  <%= @translated_publishers_count %> ಪ್ರಕಾಶಕರು
  </p>

</div>
<hr />
<div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4"> 
      <%#= render 'books_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'authors_form' %>
    </div>
  </div>
</div>
<%#= render 'circles' %>
