<div> 
  <p> ಓಸ್ಮಾನಿಯ ಯುನಿವರ್ಸಿಟಿಯ ಡಿಜಿಟಲ್ ಲೈಬ್ರರಿಯಲ್ಲಿರುವ (http://oudl.osmania.ac.in) ೨೦೦೦ಕ್ಕೂ ಹೆಚ್ಚು ಪುಸ್ತಕಗಳ ಹೆಸರು ಇಂಗ್ಲೀಷ್ ನಲ್ಲಿದ್ದು ಕನ್ನಡಿಗರು ಅವುಗಳನ್ನು ಹುಡುಕಿ ತೆಗೆಯುವುದು ಕಷ್ಟದ ಕೆಲಸ.
  </p>

  <p> ಇದಕ್ಕೆ ಮುಖ್ಯ ಕಾರಣಗಳು:
    <ul>
      <li>  ಎಲ್ಲ ಹೆಸರುಗಳು ಇಂಗ್ಲೀಷ್‌ನಲ್ಲಿರುವುದು (ಕಂಗ್ಲೀಷ್). </li>
      <li>  ಇಂಗ್ಲೀಷ್‌ನಲ್ಲಿರುವ ಹೆಸರುಗಳು ಸಾಮಾನ್ಯರು ಅರ್ಥವಾಗದ ರೀತಿಯಲ್ಲಿರುವುದು.
      </li>
      <li>  ಪ್ರಕಾಶಕ, ಲೇಖಕ ಅಥವಾ ಪುಸ್ತಕಗಳ ಹೆಸರೇ ತಪ್ಪಾಗಿ ಕಂಪ್ಯೂಟರೀಕರಗೊಂಡಿರುವುದು
        ಇತ್ಯಾದಿ.
      </li>
    </ul>
  </p>
  <p> ಈ ಪುಸ್ತಕಗಳನ್ನು ಕನ್ನಡಿಗರಿಗೆ ತಲುಪುವಂತೆ ಮಾಡಲು ಇವುಗಳನ್ನು ಯುನಿಕೋಡ್‌ ಶಿಷ್ಠತೆಯನ್ನು ಬಳಸಿ ಕನ್ನಡೀಕರಿಸುವುದರ ಜೊತೆಗೆ  ಸುಲಭ ಸರ್ಚ್ ಸೌಲಭ್ಯದ ಮೂಲಕ ಸುಲಭವಾಗಿ ಸಿಗುವಂತೆ ಮಾಡುವುದಕ್ಕಾಗಿ ಸಮೂಹ ಸಂಚಯ ಈ ಮೊದಲ ಯೋಜನೆಗೆ ಕೈ ಹಾಕಿದೆ. 
  </p>
  <p> ಈ ಯೋಜನೆ ಈ ಕೆಳಕಂಡ ಹಂತಗಳಲ್ಲಿ ನೆಡೆಯಲಿದೆ:
    <ul>
      <li class="blue-completed"> ಪುಸ್ತಕ, ಲೇಖಕ, ಪ್ರಕಾಶಕರ ಹೆಸರುಗಳ ಕನ್ನಡೀಕರಣ. </li>
      <li class="green-progress"> ಕನ್ನಡೀಕರಗೊಂಡ ಹೆಸರುಗಳ ಪರಿಶೀಲನೆ. </li>
      <li class="green-progress"> ಎಲ್ಲ ಪುಸ್ತಕ, ಲೇಖಕ ಹಾಗೂ ಪ್ರಕಾಶಕರನ್ನು ಸುಲಭವಾಗಿ 'ಪುಸ್ತಕ ಸಂಚಯ' ಯೋಜನೆಯ ಮೂಲಕ ಹುಡುಕಲು ಸಾಧ್ಯವಾಗಿಸುವುದು. </li>
      <li class="darkgoldenrod-future"> ಕನ್ನಡೀಕರಿಸಿದ ಪುಸ್ತಕಗಳಿಗೆ ಅವುಗಳದ್ದೇ ಆದ ವಿಕಿ ಪುಟಗಳನ್ನು ಕನ್ನಡ ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಹೆಣೆಯುವಂತೆ ಮಾಡುವುದು. </li>
      <li class="darkgoldenrod-future"> ವಿಕಿಪೀಡಿಯದಲ್ಲಿ ಈಗಾಗಲೇ ಲಭ್ಯವಿಲ್ಲದ ಲೇಖಕ/ಲೇಖಕಿಯರ ಪುಟಗಳು, ಕನ್ನಡ ಪುಸ್ತಕ ಪ್ರಕಾಶಕರ ಪುಟಗಳನ್ನೂ ಸೃಷ್ಟಿ ಮಾಡುವುದು. </li>
    </ul>
  </p>

  <p>
    <span class="blue-completed"> * ಈಗಾಗಲೇ ಮುಕ್ತಾಯ ಗೊಂಡಿರುವ ಹಂತಗಳು </span>
    |
    <span class="green-progress"> * ಕಾರ್ಯ ಪ್ರಗತಿಯಲ್ಲಿರುವ ಹಂತಗಳು </span>
    |
    <span class="darkgoldenrod-future"> * ಮುಂದಿನ ಹಂತಗಳು </span>
  </p>
</div>