/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);

 body, p, ol, ul, td {
 	font-family: 'Noto Sans Kannada', serif !important;
 }

 .circle-div {
 	width:100%;
 }
 .circle-box {
 	width: 30%;
 	float: left;
 }
 .circle-text {
 	width:50%;
 }
 .circle-text:after {
 	content: "";
 	display: block;
 	width: 100%;
 	height:0;
 	padding-bottom: 100%;
 	background: #4679BD; 
 	-moz-border-radius: 50%; 
 	-webkit-border-radius: 50%; 
 	border-radius: 50%;
 	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
 }
 .circle-text div {
 	float:left;
 	width:100%;
 	padding-top:50%;
 	line-height:1em;
 	margin-top:-0.5em;
 	text-align:center;
 	color:white;
 }
 .translation-tree {
 	clear: both;
 	width: 50%;
 	margin: auto;
 }
 .translation-tree h1 {
 	text-align: center;
 }

 .footer {
 	margin-top: 20px;
 }

/* Blocking ime selector pop up as we have bug with current version and botstrap 3
We need to fix this later and remove below css
*/
.imeselector,.imeselector-toggle {
	display: none !important ;
}

/*Introduction to samooha on landing page text*/
.intoduction-text {
	clear: both;
	margin: auto;
	text-align: center;
	width: 90%;
}

.into-header {
	font-weight: bold;
}

.pustaka-intro-text {
	clear: both;
	margin: auto;
	text-align: center;
	width: 90%;
}

.edit-translation-form {
	margin: auto;
	width: 60%;
}

.review-label {
	margin-right: 1%;
	width: 10%;
}

.review-field {
	float: right;
	width: 85%;
}

.submit-row {
	float: right;
}

/* span tag for color div */
.blue-completed {
	color: blue;
}
.green-progress {
	color: green;
}
.darkgoldenrod-future {
	color: darkgoldenrod;
}
/* voting button */
.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 15px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
} 


.vote.on {
  background-position: 0 2px;
}

.vote-link:hover {
	background-color: white;
}

