<p>ಸ್ವಾಗತ <%= @email %>!</p>

<p>ನೀವು ನಿಮ್ಮ ಇಮೇಲ್ ಅನ್ನು ಕೆಳಗಿನ ಕೊಂಡಿಯನ್ನು ಕ್ಲಿಕಿಸುವುದರ ಮೂಲಕ ಧೃಢೀಕರಿಸಬಹುದು:</p>

<p><%= link_to 'ನನ್ನ ಖಾತೆ ಧೃಡೀಕರಿಸಿ', confirmation_url(@resource, confirmation_token: @token) %></p>
