<p>ನಮಸ್ಕಾರ <%= @resource.email %>!</p>

<p>ಯಾರೋ ನಿಮ್ಮ ಗುಪ್ತಪದ ಬದಲಾಯಿಸಲು ಕೊಂಡಿಯನ್ನು  ಮನವಿ ಮಾಡಿದ್ದಾರೆ. ನೀವಿದನ್ನು ಕೆಳಗಿನ ಕೊಂಡಿಯಿಂದ ಮಾಡಬಹುದು.</p>

<p><%= link_to 'ನನ್ನ ಗುಪ್ತಪದ ಬದಲಾಯಿಸು', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>ನೀವಿದನ್ನು ಮನವಿ ಮಾಡಿರದಿದ್ದರೆ, ದಯವಿಟ್ಟು ಈ ಇಮೇಲ್‌ ಅನ್ನು ಕಡೆಗಣಿಸಿ.</p>
<p>ನಿಮ್ಮ ಗುಪ್ತಪದ ಮೇಲಿನ ಕೊಂಡಿಯನ್ನು ಕ್ಲಿಕ್ಕಿಸಿ ಮತ್ತು ಹೊಸ ಗುಪ್ತಪದ ಸೃಷ್ಟಿಸುವವರೆಗೂ ಬದಲಾಗುವುದಿಲ್ಲ.</p>
