<p>ನಮಸ್ಕಾರ <%= @resource.email %>!</p>

<p>ನಿಮ್ಮ ಖಾತೆಯನ್ನು ಅತಿಯಾದ ಯಶಸ್ವಿಯಾಗದ ಸೈನ್‌ ಇನ್ ಪ್ರಯತ್ನಗಳಿಂದಾಗಿ ತಡೆಹಿಡಿಯಲಾಗಿದೆ.</p>

<p>ನಿಮ್ಮ ಖಾತೆಯನ್ನು ಅನ್‌ಲಾಕ್ ಮಾಡಲು ಕೆಳಗಿನ ಕೊಂಡಿ ಕ್ಲಿಕ್ಕಿಸಿ:</p>

<p><%= link_to 'ನನ್ನ ಖಾತೆ ಅನ್‌ಲಾಕ್ ಮಾಡು', unlock_url(@resource, unlock_token: @token) %></p>
