<div class="translation-tree"> 
  <div class="row">

    <div class="col-md-12"> 
      <h4> <%= @word.name %>: <%= @word.context %> </h4>
    </div>

    <hr />
    <div class="col-md-12"> 

      <div class="vote_translation"> 
      <%= render 'fuel_words/vote_translation' %>
      </div>
    </div>
    <div class="col-md-12"> 
      <%= render 'fuel_words/fuel_form' %>
    </div>

  </div>
</div>