<!--  <hr />
 Vote for translations -->
 <div> 
     <table>
       <% @word_translates.each do |translate| %>
       <% if translate.name %>
       <tr>
        <td><%= translate.name %>
        </td>
        <td>
            <%= link_to vote_translation_fuel_translation_path(translate,fuel_word_id: @word),class: 'vote-link', remote: true do %>
            <span class="vote <%= user_voted?(current_user, translate.id)%>"> </span>
            <% end %>
        </td>
    </tr>
    <% end %>
    <% end %>
</table>
</div>
