<%= render 'homes/intro' %>

<div class="translation-tree"> 
  <div class="row">
    <div class="col-md-4"> 
      <%= render 'fuel_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'publishers_form' %>
    </div>
    <div class="col-md-4"> 
      <%#= render 'authors_form' %>
    </div>
  </div>
</div>
<%#= render 'circles' %>

<%= render 'homes/review_progress' %>
